.ejemplo{
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}
.ejemplos{
    background-color: lightseagreen;
    width: 100px;
    height: 100px;
}